
@{
    ViewBag.Title = "BarChart";
}

<div style="width:720px">

<h2>BarChart</h2>

    <div id="testc">Download as Pdf</div>


<!-- line chart canvas element -->
@*<canvas class="fixed-canvas" id="buyers" width="600" height="400" style="width: 600px !important; height: 400px !important;"></canvas>*@
    <canvas class="fixed-canvas" id="buyers"></canvas>
<!-- bar chart canvas element -->
@*<canvas class="fixed-canvas" id="income" width="600" height="400" style="width: 600px !important; height: 400px !important;"></canvas>*@
    <canvas class="fixed-canvas" id="income" ></canvas>


<!-- data holder-->
<div id="dataholder" style="display:none;"></div>

<script>

    //data holding element
    var dataHolder = $("#dataholder");


    //Chart.defaults.global.responsive = false;

    //var ctx = $("#buyers").get(0).getContext("2d");
    //ctx.canvas.width = 600;
    //ctx.canvas.height = 350;

    //var ctx = $("#income").get(0).getContext("2d");
    //ctx.canvas.width = 600;
    //ctx.canvas.height = 350;

    var linechartKey = "linedata";
    var barchartKey = "bardata";

  
	// get line chart canvas
	var buyers = document.getElementById('buyers').getContext('2d');

	// get bar chart canvas
	var income = document.getElementById("income").getContext("2d");

	function DrawLineChart() {
	    // draw line chart
	    new Chart(buyers, {
	        type: "line",
	        data: dataHolder.data(linechartKey),
	        options: {
	            //responsive: false,
	            scaleOverride: false,
	            //animation: false
	        },
	        
	    });
	}
	function DarwBarChart() {
	    // draw bar chart
	    new Chart(income, {
	        type: "bar",
	        data: dataHolder.data(barchartKey),
	        options: {
	            //responsive: false,
	            scaleOverride: false,
	            //animation: false
	        }
	    });
	}
	
	var formId = "pdfgen";
	function getInnerHtml() {
	    //remove previous dynamic form element
	    var preForm = document.getElementById(formId);
	    if (preForm) {
	        preForm.remove();
	    }

	    var innerHtmlDom = document.getElementsByTagName('html')[0].innerHTML;
	    return innerHtmlDom;
	}
	
	function submitFORM(path, params, jsFeeds,method) {
	    method = method || "post";

	    var form = document.createElement("form");
	    form.setAttribute("id", formId);
	    form.setAttribute("method", method);
	    form.setAttribute("action", path);

	    //Move the submit function to another variable
	    //so that it doesn't get overwritten.
	    form._submit_function_ = form.submit;


	    var hiddenField = document.createElement("input");
	    hiddenField.setAttribute("type", "hidden");
	    hiddenField.setAttribute("name", 'domStruct');
	    hiddenField.setAttribute("value", params);

	    form.appendChild(hiddenField);

	    document.body.appendChild(form);
	    form._submit_function_();
	}


	$("#testc").on('click', function () {
	    submitFORM('http://localhost:49532/GenPdf/Print', getInnerHtml(), 'POST');
	});

	
	$(document).ready(function () {

	    if (dataHolder.data(linechartKey)) {
	        DrawLineChart();

	    } else {
	        $.getJSON("../ChartData/GetBuyerData/", function (data) {
	            //dataFeeds.linedata = JSON.parse(data.data);
	            dataHolder.attr("data-" + linechartKey, data.feed);
	            DrawLineChart();
	        });
	    }


	    if (dataHolder.data(barchartKey)) {
	        DarwBarChart();
	    } else {
	        $.getJSON("../ChartData/GetBarChartData/", function (data) {
	            //dataFeeds.bardata = JSON.parse(data.data);
	            dataHolder.attr("data-" + barchartKey, data.feed);
	            DarwBarChart();
	        });
	    }

	});

</script>

</div>