
@{
    ViewBag.Title = "Index";
}

<h2>Sample ChartJs</h2>



<canvas id="myChart"></canvas>

<br /><br />
<button id="save-btn">Save Chart Image</button>

<script>
    var data = {
        "labels": ["January", "February", "March", "April", "May", "June", "July", "August", "November", "December"],
        "datasets": [{
            label: "Sodium intake",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [165, 159, 180, 181, 156, 155, 140]
        }, {
            label: "Sugar intake",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "#637b85",
            pointColor: "#dbba34",
            pointStrokeColor: "#637b85",
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            //fillColor: "rgba(151,187,205,0.2)",
            //strokeColor: "rgba(151,187,205,1)",
            //pointColor: "rgba(151,187,205,1)",
            //pointStrokeColor: "#fff",
            //pointHighlightFill: "#fff",
            //pointHighlightStroke: "rgba(151,187,205,1)",
            data: [128, 148, 140, 119, 186, 127, 190]
        }]
    }

    var myLine = new Chart(document.getElementById("myChart").getContext("2d"), {
        type: "line",
        data: data,
    });


    $("#save-btn").click(function () {
        $("#myChart").get(0).toBlob(function (blob) {
            saveAs(blob, "chart_1.png");
        });
    });

</script>


<section>
    fusion chart sample: http://jsfiddle.net/fusioncharts/pnqhtseq/

</section>